footer.footer
    .container
        .footer__row
            .footer__column
                a.footer__logo.logo(href="index.html") LOGOtype
                p.footer__text официальный представитель в России
                a.footer__link(href="#") Скачать каталог 2020
                a.footer__link(href="#") Связатья с нами
            .footer__column
                p.footer__caption компания
                ul.footer__list
                    li
                        a.footer__list-link(href="#") о компании                        
                    li
                        a.footer__list-link(href="#") акции
                    li
                        a.footer__list-link(href="#") новости
                    li
                        a.footer__list-link(href="#") блог
                    li
                        a.footer__list-link(href="#") эксперты
                    li
                        a.footer__list-link(href="#") контакты
            .footer__column
                p.footer__caption покупателям
                ul.footer__list
                    li
                        a.footer__list-link(href="#") каталог                        
                    li
                        a.footer__list-link(href="#") оплата
                    li
                        a.footer__list-link(href="#") доставка
                    li
                        a.footer__list-link(href="#") возврат
                    li
                        a.footer__list-link(href="#") помощь
            .footer__column
                p.footer__caption оптовикам
                ul.footer__list
                    li
                        a.footer__list-link(href="tel:88000000000") 8 (800) 000-00-00                        
                    li
                        a.footer__list-link(href="tel:88000000000") 8 (800) 000-00-00
                    li
                        a.footer__list-link(href="tel:88000000000") 8 (800) 000-00-00
                    li
                        a.footer__link(href="mailto:info@mail.ru") info@mail.ru
            .footer__column
                p.footer__caption оптовикам
                ul.footer__list
                    li
                        span.footer__list-link г. Москва, ул. Иванова
                    li
                        span.footer__list-link д. 5, пом. 8, оф. 11                     
                    li
                        a.footer__list-link(href="tel:88000000000") 8 (800) 000-00-00
                    li
                        a.footer__list-link(href="tel:88000000000") 8 (800) 000-00-00
                    li
                        a.footer__link(href="mailto:info@mail.ru") info@yandex.ru
        .footer__bottom
            p.footer__copy &copy; 2010-2019 Ltd. Все права защищены. 
            ul.footer__social-list
                li.footer__social-item
                    a.footer__social-link(href="#" aria-label="vkontakte")
                        svg(width="24" height="15")
                            use(xlink:href="#icon-vk")
                li.footer__social-item
                    a.footer__social-link(href="#" aria-label="facebook")
                        svg(width="24" height="15")
                            use(xlink:href="#icon-fb")
                li.footer__social-item
                    a.footer__social-link(href="#" aria-label="insta")
                        svg(width="14" height="14")
                            use(xlink:href="#icon-insta")
