.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px 14px 15px;
    min-height: 449px;
    width: 263px;

    border-radius: 3px;

    box-shadow: $hit-shadow;

    &:focus,
    &:hover,
    &:active {
        box-shadow: $hit-focus-shadow;
    }
}

.card__img {
    margin-bottom: 12px;
    height: 222px;
    
    & img {
        display: block;
    
        object-fit: contain;
        object-position: center 0;
    
        height: 100%;
        width: 100%;
        max-width: none;
    }

    &--top {
        & img {
            object-position: center 55px;
        }
    }

    &--scale {
        & img {
            transform: scale(0.7);
        }
    }
}

.card__row {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;

    & img {
        margin-left: 5px;
    }

    & svg {
        margin-right: 11px;
        fill: $primary-color;
    }
}

.card__text {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 9px;

    font-family: $panton;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: $black-light;
}

.card__cash {
    margin-left: 5px;
    margin-bottom: auto;

    font-family: $panton;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    color: $black;
    letter-spacing: 0.7px;
}

.card__btn {
    display: block;
    margin-left: 5px;
    width: 96%;
    height: 55px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    opacity: 0.8;

    &:focus,
    &:hover,
    &:active {
        cursor: pointer;

        opacity: 1;
    }
}

.card__hit-flag {
    position: absolute;
    width: 58px;
    height: 35px;
    left: 0;
    top: 40px;

    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.card__sale-flag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 35px;
    left: 0;
    top: 0;

    font-family: $panton;
    line-height: 1;
    color: $white;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;

    background-color: $accent-color;
    border-radius: 3px;
}