.catalog-list {
    @include list();
    position: absolute;
    z-index: 20;
    top:30px;
    left: 0;

    $transition: $transition;
    transform-origin: 0 0;
    transform: scaleX(0);
    opacity: 0;

    box-shadow: $main-shadow;

    &.js-active {
        transform: scaleX(1);
        left: 0;
        opacity: 1;
        transform-origin: 0 0;
        transition: $transition;
    }
}

.catalog-list__item {
    margin-bottom: 1px;

    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 60px;
    width: 263px;
    min-height: 46px;

    font-family: $panton;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    color: $black-light;
    letter-spacing: 1px;

    background-color: $secondary-color;
    

    &::after {
        content: "";
        display: block;
        position: absolute;
        width:9px;
        height: 9px;
        left: 24px;
        top: 52%;
        transform: translateY(-50%);

        border: 2px solid $black;
        border-radius: 50%;
    }

    & svg {
        position: absolute;
        right: 15px;
        top: 52%;
        transform: translateY(-50%) scale(0.75);
        stroke: $secondary-color-middle;
    }

    &:focus,
    &:hover,
    &:active {
        cursor: pointer;

        text-decoration: underline;
        
        & .catalog-list__item-list {
            display: block;
        }
    }
}

.catalog-list__item-list {
    @include list();
    display: none;
    position: absolute;
    z-index: 20;
    left: 100%;
    top: 0;

    & li {
        border-left: 1px solid $white;
        border-bottom: 1px solid $white;
    }

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px 5px 10px;
        width: 200px;
        min-height: 46px;

        font-family: $panton;
        font-weight: 700;
        font-size: 15px;
        line-height: 1;
        color: $black-light;

        background-color: $secondary-color;

        &:focus,
        &:hover,
        &:active {
            cursor: pointer;

            text-decoration: underline;
        }

    }
}