.header-top {
    padding: 12px 0;
    background-color: $black-light;
}

.header-top__row {
    display: grid;
    grid-template-columns: auto auto;
}

.header-top__list {
    @include list();
    display: flex;
    flex-wrap: wrap;
}


.header-top__item {
    position: relative;
    margin-right: 66px;

    &::after {
        content: "";

        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 10px;
        height: 10px;

        border: 2px solid $secondary-color-dark;
        border-radius: 50%;
    }

    &:last-child::after {
        display: none;
    }
}

.header-top__link {
    @include hover();

    font-family: $panton;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.79;
    color: $white;
}

.header-top__text {
    margin: 0;

    font-family: $panton;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.92;
    color: $white;
}

.header-top__tel {
    @include hover();

    margin-left: 30px;

    font-family: $panton;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: $primary-color;
}