.logo {
    display: block;

    font-family: $panton;
    font-weight: 900;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 4.5px;

    &:focus,
    &:hover,
    &:active {
        cursor: pointer;

        opacity: 0.8;

        transition: $transition;
    }
}