.main {
    margin-bottom: 50px;
    padding-bottom: 70px;

    border-bottom: 1px solid $secondary-color;

}

.main__row {
    display: grid;
    grid-template-columns: auto 847px;
    grid-gap: 30px;
}

.main__slider {
    position: relative;
    margin-bottom: 30px;

    & .swiper-pagination {
        position: absolute;
        z-index: 5;

        left: 40px;
        bottom: 10px;
    }

    & .swiper-pagination-bullet {
        width: 12px;
        height: 12px;

        border: 3px solid $white;
    }

    & .swiper-pagination-bullet-active {
        border: 3px solid $primary-color-light;
        background-color: transparent;
    }
}

.main__slider-item {
    position: relative;
    padding: 46px 41px;
    width: 847px;

    background-image: $primary-gradient-main;
    border-radius: 3px;
    box-shadow: $main-shadow;

    & img {
        position: absolute;

        right: 5px;
        top: -5px;
    }
}

.main__slider-caption {
    margin: 0;
    margin-bottom: 30px;
    width: 335px;

    font-family: $panton;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.25;
    color: $white;
    text-transform: uppercase;
}

.main__slider-text {
    margin: 0;
    margin-bottom: 10px;

    font-family: $panton;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.37;
    color: $primary-color-light;
}

.main__slider-cash {
    margin: 0;
    margin-bottom: 30px;

    font-family: $panton;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    color: $white;
}

.main__slider-link {
    @include hover();

    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 55px;

    font-family: $panton;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
    color: $white;

    background-color: $black-light;
    border-radius: 3px;
}

.main__list {
    @include list();

    display: grid;
    grid-template-columns: repeat(3 , auto);
    grid-gap: 30px;
}

.main__link {
    position: relative;
    display: block;
    padding: 25px;
    width: 262px;

    background-image: $primary-gradient-main;
    border-radius: 3px;
    box-shadow: $main-shadow;

    & img {
        position: absolute;
        right: 5px;
        top: -5px;
    }
}

.main__caption {
    margin: 0;
    margin-bottom: 15px;
    width: 135px;

    font-family: $panton;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: $white;
    text-transform: uppercase;
}

.main__text {
    margin: 0;
    margin-bottom: 15px;
    width: 135px;

    font-family: $panton;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: $white;

    opacity: 0.6;
}