$panton: "Panton", "Arial", sans-serif;

$black: #000000;
$black-light: #1d1e1e;
$white: #ffffff;


$primary-color: #009ee2;
$primary-color-middle: #4cd2fe;
$primary-color-light: #4bd1fe;
$primary-color-dark: #0086c0;
$primary-gradient-button: linear-gradient(to right , #33b9e9 , #088ec7);
$primary-gradient-main: linear-gradient(to top left, #48c4f0, #0086c0);
$primary-gradient-card: radial-gradient(circle farthest-corner at 80% 50% , rgba(255,255,255,0.6), #0086c0);

$secondary-color: #efefef;
$secondary-color-middle: #b5b5b5;
$secondary-color-dark: #6a6a6a;

$accent-color: #00963f;

$main-shadow: 0px 22px 38px -23px rgba(0,0,0,0.56);

$transition: all 0.2s ease-in;

$desktop: 1170px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

