ul.catalog-list.js-active
    li.catalog-list__item
        span(tabindex="0") Катушки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Удилища
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Приманки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Воблеры
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Лески и шнуры
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Поплавки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Крючки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Аксессуары
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Одежда
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Снаряжение
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Электроника
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Зимняя рыбалка
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
    li.catalog-list__item
        span(tabindex="0") Другое
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
            li 
                a(href="#" tabindex="0") Lorem
