ul.catalog-list
    li.catalog-list__item
        |Катушки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Удилища
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Приманки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Воблеры
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Лески и шнуры
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Поплавки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Крючки
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Аксессуары
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Одежда
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Снаряжение
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Электроника
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Зимняя рыбалка
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
    li.catalog-list__item
        |Другое
        svg(width="12" height="17")
            use(xlink:href="#icon-arrow-point")
        ul.catalog-list__item-list
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
            li 
                a(href="#") Lorem
