.header-bottom
    .container.header-bottom__row
            button(type="button").header-bottom__button.gradient-block.js-btn-active
                span.header-bottom__bread
                    span.header-bottom__bread-item
                    span.header-bottom__bread-item
                    span.header-bottom__bread-item
                |Каталог товаров
                svg(width="12" height="17")
                    use(xlink:href="#icon-arrow-point")
            nav
                ul.header-bottom__list
                    li.header-bottom__item
                        a.header-bottom__link(href="#") о компании
                    li.header-bottom__item
                        a.header-bottom__link(href="#") акции
                    li.header-bottom__item
                        a.header-bottom__link(href="#") новости
                    li.header-bottom__item
                        a.header-bottom__link(href="#") блог
                    li.header-bottom__item
                        a.header-bottom__link(href="#") эксперты
                    li.header-bottom__item
                        a.header-bottom__link(href="#") контакты