.header-middle
    .container.header-middle__row
        a.header-middle__logo(href="index.html") LOGOtype
        form.header-middle__input(action="#" method="GET")
            input(type="text" name="search" id="search" placeholder="Что Вы ищете?")
            svg(width="19" height="19")
                use(xlink:href="#icon-search")
        ul.header-middle__list
            li.header-middle__item
                a.header-middle__link(href="#" aria-label="Личный кабинет")
                    svg(width="26" height="26")
                        use(xlink:href="#icon-refer")
            li.header-middle__item
                a.header-middle__link(href="#" aria-label="Понравилось")
                    svg(width="19" height="19")
                        use(xlink:href="#icon-heart")
                    span 3
            li.header-middle__item
                a.header-middle__link(href="#" aria-label="Корзина")
                    svg(width="28" height="26")
                        use(xlink:href="#icon-cart")
                    span 2